APP_NAME=Repo App
APP_BASE_URL=https://repo.kewelserver.one
HOST=127.0.0.1
PORT=3200
POCKETBASE_URL=https://pb.axephotography.co.uk
POCKETBASE_ADMIN_EMAIL=
POCKETBASE_ADMIN_PASSWORD=
SESSION_SECRET=
SESSION_COOKIE_SECURE=true
SESSION_COOKIE_SAMESITE=lax
TRUST_PROXY=true
